{
    "swagger": "2.0",
    "info": {
        "title": "Secret Network REST",
        "version": "1.0",
        "description": "A REST interface for state queries, transaction generation and broadcasting.\n\nCurrently load balances multiple backends"
    },
    "host": "keplr-gateway.scrtlabs.com",
    "basePath": "/lcd",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/gov/parameters/tallying": {
            "get": {
                "description": "Query governance tally parameters",
                "operationId": "get-gov-parameters-tallying",
                "summary": "Query governance tally parameters",
                "tags": [
                    "Governance"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        },
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "<other_path> is not a valid query request path"
                    },
                    "404": {
                        "description": "Found no tally parameters"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/distribution/validators/{validatorAddr}/rewards": {
            "post": {
                "description": "Withdraw the validator's self-delegation and commissions rewards",
                "operationId": "post-distribution-validators-validatoraddr-rewards",
                "summary": "Withdraw the validator's rewards",
                "tags": [
                    "Distribution"
                ],
                "parameters": [
                    {
                        "name": "validatorAddr",
                        "in": "path",
                        "description": "Bech32 OperatorAddress of validator",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "distributionValidators-validatorAddr-RewardsPostRequest-1",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "base_req": {
                                    "type": "object",
                                    "properties": {
                                        "from": {
                                            "description": "Sender address or Keybase name to generate a transaction",
                                            "type": "string",
                                            "example": "cosmos1g9ahr6xhht5rmqven628nklxluzyv8z9jqjcmc"
                                        },
                                        "memo": {
                                            "type": "string",
                                            "example": "Sent via Cosmos Voyager 🚀"
                                        },
                                        "chain_id": {
                                            "type": "string",
                                            "example": "Cosmos-Hub"
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "sequence": {
                                            "type": "string",
                                            "example": "1"
                                        },
                                        "gas": {
                                            "type": "string",
                                            "example": "200000"
                                        },
                                        "gas_adjustment": {
                                            "type": "string",
                                            "example": "1.2"
                                        },
                                        "fees": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "denom": {
                                                        "type": "string",
                                                        "example": "stake"
                                                    },
                                                    "amount": {
                                                        "type": "string",
                                                        "example": "50"
                                                    }
                                                }
                                            }
                                        },
                                        "simulate": {
                                            "description": "Estimate gas for a transaction (cannot be used in conjunction with generate_only)",
                                            "type": "boolean",
                                            "example": false
                                        }
                                    }
                                }
                            },
                            "example": {
                                "base_req": {
                                    "from": "cosmos1g9ahr6xhht5rmqven628nklxluzyv8z9jqjcmc",
                                    "memo": "Sent via Cosmos Voyager 🚀",
                                    "chain_id": "Cosmos-Hub",
                                    "account_number": "0",
                                    "sequence": "1",
                                    "gas": "200000",
                                    "gas_adjustment": "2022-01-02",
                                    "fees": [
                                        {
                                            "denom": "stake",
                                            "amount": "50"
                                        }
                                    ],
                                    "simulate": false
                                }
                            }
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "msg": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "fee": {
                                    "type": "object",
                                    "properties": {
                                        "gas": {
                                            "type": "string"
                                        },
                                        "amount": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "denom": {
                                                        "type": "string",
                                                        "example": "stake"
                                                    },
                                                    "amount": {
                                                        "type": "string",
                                                        "example": "50"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "memo": {
                                    "type": "string"
                                },
                                "signature": {
                                    "type": "object",
                                    "properties": {
                                        "signature": {
                                            "type": "string",
                                            "example": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY="
                                        },
                                        "pub_key": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "tendermint/PubKeySecp256k1"
                                                },
                                                "value": {
                                                    "type": "string",
                                                    "example": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                                }
                                            }
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "sequence": {
                                            "type": "string",
                                            "example": "0"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "msg": [
                                    "string"
                                ],
                                "fee": {
                                    "gas": "string",
                                    "amount": [
                                        {
                                            "denom": "stake",
                                            "amount": "50"
                                        }
                                    ]
                                },
                                "memo": "string",
                                "signature": {
                                    "signature": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=",
                                    "pub_key": {
                                        "type": "tendermint/PubKeySecp256k1",
                                        "value": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                    },
                                    "account_number": "0",
                                    "sequence": "0"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid validator address"
                    },
                    "401": {
                        "description": "Key password is wrong"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "get": {
                "description": "Query the commission and self-delegation rewards of validator.",
                "operationId": "get-distribution-validators-validatoraddr-rewards",
                "summary": "Commission and self-delegation rewards of a single validator",
                "tags": [
                    "Distribution"
                ],
                "parameters": [
                    {
                        "name": "validatorAddr",
                        "in": "path",
                        "description": "Bech32 OperatorAddress of validator",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "denom": {
                                        "type": "string",
                                        "example": "stake"
                                    },
                                    "amount": {
                                        "type": "string",
                                        "example": "50"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "denom": "stake",
                                    "amount": "50"
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid validator address"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/distribution/community_pool": {
            "get": {
                "description": "Community pool parameters",
                "operationId": "get-distribution-community_pool",
                "summary": "Community pool parameters",
                "tags": [
                    "Distribution"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "denom": {
                                        "type": "string",
                                        "example": "stake"
                                    },
                                    "amount": {
                                        "type": "string",
                                        "example": "50"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "denom": "stake",
                                    "amount": "50"
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/txs": {
            "post": {
                "description": "Broadcast a signed tx to a full node",
                "operationId": "post-txs",
                "summary": "Broadcast a signed tx",
                "tags": [
                    "Transactions"
                ],
                "parameters": [
                    {
                        "name": "txsPostRequest",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "tx": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "fee": {
                                            "type": "object",
                                            "properties": {
                                                "gas": {
                                                    "type": "string"
                                                },
                                                "amount": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "denom": {
                                                                "type": "string",
                                                                "example": "stake"
                                                            },
                                                            "amount": {
                                                                "type": "string",
                                                                "example": "50"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "memo": {
                                            "type": "string"
                                        },
                                        "signature": {
                                            "type": "object",
                                            "properties": {
                                                "signature": {
                                                    "type": "string",
                                                    "example": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY="
                                                },
                                                "pub_key": {
                                                    "type": "object",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string",
                                                            "example": "tendermint/PubKeySecp256k1"
                                                        },
                                                        "value": {
                                                            "type": "string",
                                                            "example": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                                        }
                                                    }
                                                },
                                                "account_number": {
                                                    "type": "string",
                                                    "example": "0"
                                                },
                                                "sequence": {
                                                    "type": "string",
                                                    "example": "0"
                                                }
                                            }
                                        }
                                    }
                                },
                                "mode": {
                                    "type": "string",
                                    "example": "block"
                                },
                                "sequences": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "example": "1"
                                    }
                                },
                                "fee_granter": {
                                    "description": "bech32 encoded address",
                                    "type": "string",
                                    "example": "secret11wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
                                }
                            },
                            "example": {
                                "tx": {
                                    "msg": [
                                        "string"
                                    ],
                                    "fee": {
                                        "gas": "string",
                                        "amount": [
                                            {
                                                "denom": "stake",
                                                "amount": "50"
                                            }
                                        ]
                                    },
                                    "memo": "string",
                                    "signature": {
                                        "signature": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=",
                                        "pub_key": {
                                            "type": "tendermint/PubKeySecp256k1",
                                            "value": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                        },
                                        "account_number": "0",
                                        "sequence": "0"
                                    }
                                },
                                "mode": "block",
                                "sequences": [
                                    "1"
                                ],
                                "fee_granter": "secret11wg2mlrxdmnnkkykgqg4znky86nyrtc45q336yv"
                            }
                        },
                        "description": "The tx must be a signed StdTx. The supported broadcast modes include `\"block\"`(return after tx commit), `\"sync\"`(return afer CheckTx) and `\"async\"`(return right away)."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Tx broadcasting result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "check_tx": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "gas_used": {
                                            "type": "integer"
                                        },
                                        "gas_wanted": {
                                            "type": "integer"
                                        },
                                        "info": {
                                            "type": "string"
                                        },
                                        "log": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "code": 0,
                                        "data": "data",
                                        "log": "log",
                                        "gas_used": 5000,
                                        "gas_wanted": 10000,
                                        "info": "info",
                                        "tags": [
                                            "",
                                            ""
                                        ]
                                    }
                                },
                                "deliver_tx": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "gas_used": {
                                            "type": "integer"
                                        },
                                        "gas_wanted": {
                                            "type": "integer"
                                        },
                                        "info": {
                                            "type": "string"
                                        },
                                        "log": {
                                            "type": "string"
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "code": 5,
                                        "data": "data",
                                        "log": "log",
                                        "gas_used": 5000,
                                        "gas_wanted": 10000,
                                        "info": "info",
                                        "tags": [
                                            "",
                                            ""
                                        ]
                                    }
                                },
                                "hash": {
                                    "type": "string",
                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                },
                                "height": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "check_tx": {
                                    "code": 0,
                                    "data": "data",
                                    "log": "log",
                                    "gas_used": 5000,
                                    "gas_wanted": 10000,
                                    "info": "info",
                                    "tags": [
                                        "",
                                        ""
                                    ]
                                },
                                "deliver_tx": {
                                    "code": 5,
                                    "data": "data",
                                    "log": "log",
                                    "gas_used": 5000,
                                    "gas_wanted": 10000,
                                    "info": "info",
                                    "tags": [
                                        "",
                                        ""
                                    ]
                                },
                                "hash": "EE5F3404034C524501629B56E0DDC38FAD651F04",
                                "height": 0
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "get": {
                "description": "Search transactions by events.",
                "operationId": "get-txs",
                "summary": "Search transactions",
                "tags": [
                    "Transactions"
                ],
                "parameters": [
                    {
                        "name": "message.action",
                        "in": "query",
                        "description": "transaction events such as 'message.action=send' which results in the following endpoint: 'GET /txs?message.action=send'. note that each module documents its own events. look for xx_events.md in the corresponding cosmos-sdk/docs/spec directory",
                        "type": "string"
                    },
                    {
                        "name": "message.sender",
                        "in": "query",
                        "description": "transaction tags with sender: 'GET /txs?message.action=send&message.sender=cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv'",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of items per page",
                        "type": "integer"
                    },
                    {
                        "name": "tx.minheight",
                        "in": "query",
                        "description": "transactions on blocks with height greater or equal this value",
                        "type": "integer"
                    },
                    {
                        "name": "tx.maxheight",
                        "in": "query",
                        "description": "transactions on blocks with height less than or equal this value",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "All txs matching the provided events",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_count": {
                                    "type": "number",
                                    "example": 1
                                },
                                "count": {
                                    "type": "number",
                                    "example": 1
                                },
                                "page_number": {
                                    "type": "number",
                                    "example": 1
                                },
                                "page_total": {
                                    "type": "number",
                                    "example": 1
                                },
                                "limit": {
                                    "type": "number",
                                    "example": 30
                                },
                                "txs": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "hash": {
                                                "type": "string",
                                                "example": "D085138D913993919295FF4B0A9107F1F2CDE0D37A87CE0644E217CBF3B49656"
                                            },
                                            "height": {
                                                "type": "number",
                                                "example": 368
                                            },
                                            "tx": {
                                                "type": "object",
                                                "properties": {
                                                    "msg": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "fee": {
                                                        "type": "object",
                                                        "properties": {
                                                            "gas": {
                                                                "type": "string"
                                                            },
                                                            "amount": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "denom": {
                                                                            "type": "string",
                                                                            "example": "stake"
                                                                        },
                                                                        "amount": {
                                                                            "type": "string",
                                                                            "example": "50"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "memo": {
                                                        "type": "string"
                                                    },
                                                    "signature": {
                                                        "type": "object",
                                                        "properties": {
                                                            "signature": {
                                                                "type": "string",
                                                                "example": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY="
                                                            },
                                                            "pub_key": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "example": "tendermint/PubKeySecp256k1"
                                                                    },
                                                                    "value": {
                                                                        "type": "string",
                                                                        "example": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                                                    }
                                                                }
                                                            },
                                                            "account_number": {
                                                                "type": "string",
                                                                "example": "0"
                                                            },
                                                            "sequence": {
                                                                "type": "string",
                                                                "example": "0"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "result": {
                                                "type": "object",
                                                "properties": {
                                                    "log": {
                                                        "type": "string"
                                                    },
                                                    "gas_wanted": {
                                                        "type": "string",
                                                        "example": "200000"
                                                    },
                                                    "gas_used": {
                                                        "type": "string",
                                                        "example": "26354"
                                                    },
                                                    "tags": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "total_count": 1,
                                "count": 1,
                                "page_number": 1,
                                "page_total": 1,
                                "limit": 30,
                                "txs": [
                                    {
                                        "hash": "D085138D913993919295FF4B0A9107F1F2CDE0D37A87CE0644E217CBF3B49656",
                                        "height": 368,
                                        "tx": {
                                            "msg": [
                                                "string"
                                            ],
                                            "fee": {
                                                "gas": "string",
                                                "amount": [
                                                    {
                                                        "denom": "stake",
                                                        "amount": "50"
                                                    }
                                                ]
                                            },
                                            "memo": "string",
                                            "signature": {
                                                "signature": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=",
                                                "pub_key": {
                                                    "type": "tendermint/PubKeySecp256k1",
                                                    "value": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                                },
                                                "account_number": "0",
                                                "sequence": "0"
                                            }
                                        },
                                        "result": {
                                            "log": "string",
                                            "gas_wanted": "200000",
                                            "gas_used": "26354",
                                            "tags": [
                                                {
                                                    "key": "string",
                                                    "value": "string"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid search events"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/wasm/code/{codeID}/hash": {
            "get": {
                "description": "Get code ID data hash",
                "operationId": "get-wasm-code-codeid-hash",
                "summary": "Get code ID data hash",
                "tags": [
                    "Wasm"
                ],
                "parameters": [
                    {
                        "name": "codeID",
                        "in": "path",
                        "description": "code ID you want to query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "height": {
                                    "type": "string"
                                },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "height": {
                                            "type": "string"
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "height": "string",
                                "result": {
                                    "height": "string",
                                    "result": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/gov/proposals/{proposalId}/proposer": {
            "get": {
                "description": "Query for the proposer for a proposal",
                "operationId": "get-gov-proposals-proposalid-proposer",
                "summary": "Query proposer",
                "tags": [
                    "Governance"
                ],
                "parameters": [
                    {
                        "name": "proposalId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "proposal_id": {
                                    "type": "string"
                                },
                                "proposer": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "proposal_id": "string",
                                "proposer": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid proposal ID"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/wasm/contract/{contractAddress}/query/{query}": {
            "get": {
                "description": "Get stored information with store key",
                "operationId": "get-wasm-contract-contractaddress-query-query",
                "summary": "Get stored information with store key",
                "tags": [
                    "Wasm"
                ],
                "parameters": [
                    {
                        "name": "contractAddress",
                        "in": "path",
                        "description": "contract address you want to lookup",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "query",
                        "in": "path",
                        "description": "hex encoded data for the query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "encoding",
                        "in": "query",
                        "description": "encoding of the query data (only hex supported)",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "height": {
                                    "type": "string"
                                },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "key": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "height": "string",
                                "result": {
                                    "key": "string",
                                    "value": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wasm/code/{codeID}": {
            "get": {
                "description": "Get code info of the code ID",
                "operationId": "get-wasm-code-codeid",
                "summary": "Get code info of the code ID",
                "tags": [
                    "Wasm"
                ],
                "parameters": [
                    {
                        "name": "codeID",
                        "in": "path",
                        "description": "code ID you want to query",
                        "required": true,
                        "type": "number"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "height": {
                                    "type": "string"
                                },
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "code_hash": {
                                            "type": "string"
                                        },
                                        "creator": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "height": "string",
                                "result": {
                                    "code_hash": "string",
                                    "creator": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Instantiate wasm contract message",
                "operationId": "post-wasm-code-codeid",
                "summary": "Instantiate wasm contract message",
                "tags": [
                    "Wasm"
                ],
                "parameters": [
                    {
                        "name": "codeID",
                        "in": "path",
                        "description": "code ID you want to instantiate",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "wasmCode-codeID-PostRequest-1",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "base_req": {
                                    "type": "object",
                                    "properties": {
                                        "from": {
                                            "description": "Sender address or Keybase name to generate a transaction",
                                            "type": "string",
                                            "example": "cosmos1g9ahr6xhht5rmqven628nklxluzyv8z9jqjcmc"
                                        },
                                        "memo": {
                                            "type": "string",
                                            "example": "Sent via Cosmos Voyager 🚀"
                                        },
                                        "chain_id": {
                                            "type": "string",
                                            "example": "Cosmos-Hub"
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "sequence": {
                                            "type": "string",
                                            "example": "1"
                                        },
                                        "gas": {
                                            "type": "string",
                                            "example": "200000"
                                        },
                                        "gas_adjustment": {
                                            "type": "string",
                                            "example": "1.2"
                                        },
                                        "fees": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "denom": {
                                                        "type": "string",
                                                        "example": "stake"
                                                    },
                                                    "amount": {
                                                        "type": "string",
                                                        "example": "50"
                                                    }
                                                }
                                            }
                                        },
                                        "simulate": {
                                            "description": "Estimate gas for a transaction (cannot be used in conjunction with generate_only)",
                                            "type": "boolean",
                                            "example": false
                                        }
                                    }
                                },
                                "init_coins": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "denom": {
                                                "type": "string",
                                                "example": "stake"
                                            },
                                            "amount": {
                                                "type": "string",
                                                "example": "50"
                                            }
                                        }
                                    }
                                },
                                "init_msg": {
                                    "description": "json formatted string",
                                    "type": "string",
                                    "example": "{}"
                                }
                            }
                        }
                    }
                ],
                "consumes": [
                    "*/*"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "msg": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "fee": {
                                    "type": "object",
                                    "properties": {
                                        "gas": {
                                            "type": "string"
                                        },
                                        "amount": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "denom": {
                                                        "type": "string",
                                                        "example": "stake"
                                                    },
                                                    "amount": {
                                                        "type": "string",
                                                        "example": "50"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "memo": {
                                    "type": "string"
                                },
                                "signature": {
                                    "type": "object",
                                    "properties": {
                                        "signature": {
                                            "type": "string",
                                            "example": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY="
                                        },
                                        "pub_key": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "tendermint/PubKeySecp256k1"
                                                },
                                                "value": {
                                                    "type": "string",
                                                    "example": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                                }
                                            }
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "sequence": {
                                            "type": "string",
                                            "example": "0"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "msg": [
                                    "string"
                                ],
                                "fee": {
                                    "gas": "string",
                                    "amount": [
                                        {
                                            "denom": "stake",
                                            "amount": "50"
                                        }
                                    ]
                                },
                                "memo": "string",
                                "signature": {
                                    "signature": "MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=",
                                    "pub_key": {
                                        "type": "tendermint/PubKeySecp256k1",
                                        "value": "Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH"
                                    },
                                    "account_number": "0",
                                    "sequence": "0"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/gov/proposals/{proposalId}/tally": {
            "get": {
                "description": "Gets a proposal's tally result at the current time. If the proposal is pending deposits (i.e status 'DepositPeriod') it returns an empty tally result.",
                "operationId": "get-gov-proposals-proposalid-tally",
                "summary": "Get a proposal's tally result at the current time",
                "tags": [
                    "Governance"
                ],
                "parameters": [
                    {
                        "name": "proposalId",
                        "in": "path",
                        "description": "proposal id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "yes": {
                                    "type": "string",
                                    "example": "0.0000000000"
                                },
                                "abstain": {
                                    "type": "string",
                                    "example": "0.0000000000"
                                },
                                "no": {
                                    "type": "string",
                                    "example": "0.0000000000"
                                },
                                "no_with_veto": {
                                    "type": "string",
                                    "example": "0.0000000000"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "yes": "0.0000000000",
                                "abstain": "0.0000000000",
                                "no": "0.0000000000",
                                "no_with_veto": "0.0000000000"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid proposal id"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/staking/validators/{validatorAddr}": {
            "get": {
                "description": "Query the information from a single validator",
                "operationId": "get-staking-validators-validatoraddr",
                "summary": "Query the information from a single validator",
                "tags": [
                    "Staking"
                ],
                "parameters": [
                    {
                        "name": "validatorAddr",
                        "in": "path",
                        "description": "Bech32 OperatorAddress of validator",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "operator_address": {
                                    "description": "bech32 encoded address",
                                    "type": "string",
                                    "example": "cosmosvaloper16xyempempp92x9hyzz9wrgf94r6j9h5f2w4n2l"
                                },
                                "consensus_pubkey": {
                                    "type": "string",
                                    "example": "cosmosvalconspub1zcjduepq0vu2zgkgk49efa0nqwzndanq5m4c7pa3u4apz4g2r9gspqg6g9cs3k9cuf"
                                },
                                "jailed": {
                                    "type": "boolean"
                                },
                                "status": {
                                    "type": "integer"
                                },
                                "tokens": {
                                    "type": "string"
                                },
                                "delegator_shares": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "object",
                                    "properties": {
                                        "moniker": {
                                            "type": "string"
                                        },
                                        "identity": {
                                            "type": "string"
                                        },
                                        "website": {
                                            "type": "string"
                                        },
                                        "security_contact": {
                                            "type": "string"
                                        },
                                        "details": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "bond_height": {
                                    "type": "string",
                                    "example": "0"
                                },
                                "bond_intra_tx_counter": {
                                    "type": "integer",
                                    "example": 0
                                },
                                "unbonding_height": {
                                    "type": "string",
                                    "example": "0"
                                },
                                "unbonding_time": {
                                    "type": "string",
                                    "example": "1970-01-01T00:00:00Z"
                                },
                                "commission": {
                                    "type": "object",
                                    "properties": {
                                        "rate": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "max_rate": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "max_change_rate": {
                                            "type": "string",
                                            "example": "0"
                                        },
                                        "update_time": {
                                            "type": "string",
                                            "example": "1970-01-01T00:00:00Z"
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "operator_address": "cosmosvaloper16xyempempp92x9hyzz9wrgf94r6j9h5f2w4n2l",
                                "consensus_pubkey": "cosmosvalconspub1zcjduepq0vu2zgkgk49efa0nqwzndanq5m4c7pa3u4apz4g2r9gspqg6g9cs3k9cuf",
                                "jailed": true,
                                "status": 0,
                                "tokens": "string",
                                "delegator_shares": "string",
                                "description": {
                                    "moniker": "string",
                                    "identity": "string",
                                    "website": "string",
                                    "security_contact": "string",
                                    "details": "string"
                                },
                                "bond_height": "0",
                                "bond_intra_tx_counter": 0,
                                "unbonding_height": "0",
                                "unbonding_time": "1970-01-01T00:00:00+00:00",
                                "commission": {
                                    "rate": "0",
                                    "max_rate": "0",
                                    "max_change_rate": "0",
                                    "update_time": "1970-01-01T00:00:00+00:00"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid validator address"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/node_info": {
            "get": {
                "description": "Information about the connected node",
                "operationId": "get-node_info",
                "summary": "The properties of the connected node",
                "tags": [
                    "Gaia REST"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Node status",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "application_version": {
                                    "type": "object",
                                    "properties": {
                                        "build_tags": {
                                            "type": "string"
                                        },
                                        "client_name": {
                                            "type": "string"
                                        },
                                        "commit": {
                                            "type": "string"
                                        },
                                        "go": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "server_name": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "node_info": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "moniker": {
                                            "type": "string",
                                            "example": "validator-name"
                                        },
                                        "protocol_version": {
                                            "type": "object",
                                            "properties": {
                                                "p2p": {
                                                    "type": "string",
                                                    "example": "7"
                                                },
                                                "block": {
                                                    "type": "string",
                                                    "example": "10"
                                                },
                                                "app": {
                                                    "type": "string",
                                                    "example": "0"
                                                }
                                            }
                                        },
                                        "network": {
                                            "type": "string",
                                            "example": "gaia-2"
                                        },
                                        "channels": {
                                            "type": "string"
                                        },
                                        "listen_addr": {
                                            "type": "string",
                                            "example": "192.168.56.1:26656"
                                        },
                                        "version": {
                                            "description": "Tendermint version",
                                            "type": "string",
                                            "example": "0.15.0"
                                        },
                                        "other": {
                                            "description": "more information on versions",
                                            "type": "object",
                                            "properties": {
                                                "tx_index": {
                                                    "type": "string",
                                                    "example": "on"
                                                },
                                                "rpc_address": {
                                                    "type": "string",
                                                    "example": "tcp://0.0.0.0:26657"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "application_version": {
                                    "build_tags": "string",
                                    "client_name": "string",
                                    "commit": "string",
                                    "go": "string",
                                    "name": "string",
                                    "server_name": "string",
                                    "version": "string"
                                },
                                "node_info": {
                                    "id": "string",
                                    "moniker": "validator-name",
                                    "protocol_version": {
                                        "p2p": "7",
                                        "block": "10",
                                        "app": "0"
                                    },
                                    "network": "gaia-2",
                                    "channels": "string",
                                    "listen_addr": "192.168.56.1:26656",
                                    "version": "0.15.0",
                                    "other": {
                                        "tx_index": "on",
                                        "rpc_address": "tcp://0.0.0.0:26657"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to query node status"
                    }
                }
            }
        },
        "/syncing": {
            "get": {
                "description": "Get if the node is currently syning with other nodes",
                "operationId": "get-syncing",
                "summary": "Syncing state of node",
                "tags": [
                    "Tendermint RPC"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Node syncing status",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "syncing": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "syncing": true
                            }
                        }
                    },
                    "500": {
                        "description": "Server internal error"
                    }
                }
            }
        },
        "/blocks/latest": {
            "get": {
                "description": "Get the latest block",
                "operationId": "get-blocks-latest",
                "summary": "Get the latest block",
                "tags": [
                    "Tendermint RPC"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The latest block",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "block_meta": {
                                    "type": "object",
                                    "properties": {
                                        "header": {
                                            "type": "object",
                                            "properties": {
                                                "chain_id": {
                                                    "type": "string",
                                                    "example": "cosmoshub-2"
                                                },
                                                "height": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "time": {
                                                    "type": "string",
                                                    "example": "2017-12-30T04:53:09.287Z"
                                                },
                                                "num_txs": {
                                                    "type": "number",
                                                    "example": 0
                                                },
                                                "last_block_id": {
                                                    "type": "object",
                                                    "properties": {
                                                        "hash": {
                                                            "type": "string",
                                                            "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                        },
                                                        "parts": {
                                                            "type": "object",
                                                            "properties": {
                                                                "total": {
                                                                    "type": "number",
                                                                    "example": 0
                                                                },
                                                                "hash": {
                                                                    "type": "string",
                                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "total_txs": {
                                                    "type": "number",
                                                    "example": 35
                                                },
                                                "last_commit_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "data_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "validators_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "next_validators_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "consensus_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "app_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "last_results_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "evidence_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "proposer_address": {
                                                    "description": "bech32 encoded address",
                                                    "type": "string",
                                                    "example": "cosmos1depk54cuajgkzea6zpgkq36tnjwdzv4afc3d27"
                                                },
                                                "version": {
                                                    "type": "object",
                                                    "properties": {
                                                        "block": {
                                                            "type": "string",
                                                            "example": "10"
                                                        },
                                                        "app": {
                                                            "type": "string",
                                                            "example": "0"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "block_id": {
                                            "type": "object",
                                            "properties": {
                                                "hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "parts": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "number",
                                                            "example": 0
                                                        },
                                                        "hash": {
                                                            "type": "string",
                                                            "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "block": {
                                    "type": "object",
                                    "properties": {
                                        "header": {
                                            "type": "object",
                                            "properties": {
                                                "chain_id": {
                                                    "type": "string",
                                                    "example": "cosmoshub-2"
                                                },
                                                "height": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "time": {
                                                    "type": "string",
                                                    "example": "2017-12-30T04:53:09.287Z"
                                                },
                                                "num_txs": {
                                                    "type": "number",
                                                    "example": 0
                                                },
                                                "last_block_id": {
                                                    "type": "object",
                                                    "properties": {
                                                        "hash": {
                                                            "type": "string",
                                                            "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                        },
                                                        "parts": {
                                                            "type": "object",
                                                            "properties": {
                                                                "total": {
                                                                    "type": "number",
                                                                    "example": 0
                                                                },
                                                                "hash": {
                                                                    "type": "string",
                                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "total_txs": {
                                                    "type": "number",
                                                    "example": 35
                                                },
                                                "last_commit_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "data_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "validators_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "next_validators_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "consensus_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "app_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "last_results_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "evidence_hash": {
                                                    "type": "string",
                                                    "example": "EE5F3404034C524501629B56E0DDC38FAD651F04"
                                                },
                                                "proposer_address": {
                                                    "description": "bech32 encoded address",
                                                    "type": "string",
                                                    "example": "cosmos1depk54cuajgkzea6zpgkq36tnjwdzv4afc3d27"
                                                },
                                                "version": {
                                                    "type": "object",
                                                    "properties": {
[...]
