Dockerfile
docker-compose*
docs
*.md
**/target
**/*.a
**/*.so
**/Enclave_t.*
**/Enclave_u.*
**/*.lock
third_party/vendor

cosmwasm-js

cosmwasm/lib/incubator-teaclave-sgx-sdk

README.md
.gitignore

.vscode
.github
.git
.idea
**/.idea
