Dockerfile
docs
*.md

**/target
**/*.a
**/*.so
**/Enclave_t.*
**/Enclave_u.*
**/*.lock
third_party/vendor

cosmwasm/packages/incubator-teaclave-sgx-sdk

README.md
.gitignore

.vscode
.github
.git
.idea
**/.idea
