*.a
*.deb
Enclave_t.c
Enclave_t.h
Enclave_u.c
Enclave_u.h
Enclave_u.o
/enigmacli*
/enigmad*
incubator-teaclave-sgx-sdk
libenclave.a
libEnclave_u.a
librust_cosmwasm_enclave.signed.so
*.o
/release
SHA256SUMS*
*.so
/third_party/vendor
.vscode
*.sealed
/*api_key.txt
/*spid.txt
*.der