*.deb
/secretcli*
/secretd*
/enigmacli*
/enigmad*
SHA256SUMS*
/release
Enclave_u.c
Enclave_u.h
.vscode/
.idea/
Enclave_t.c
Enclave_t.h
*.a
*.o
*.so
io-master-cert.der
node-master-cert.der
/docs/.vuepress/dist*
/node_modules*