[package]
name = "enclave_utils"
version = "1.11.0"
authors = ["SCRT Labs <info@scrtlabs.com>"]
edition = "2018"

[features]
production = []
random = []
default = ["random"]

# This annotation is here to trick the IDE into showing us type information about this crate.
# We always compile to the "sgx" target, so this will always be false.
# when compiling to the "sgx" target, we pull this from the target root with an "extern crate" directive
[target.'cfg(not(target_env = "sgx"))'.dependencies]
sgx_tstd = { path = "../../../../third_party/incubator-teaclave-sgx-sdk/sgx_tstd", features = [
  "backtrace"
] }
sgx_types = { path = "../../../../third_party/incubator-teaclave-sgx-sdk/sgx_types" }
sgx_trts = { path = "../../../../third_party/incubator-teaclave-sgx-sdk/sgx_trts" }

#sgx_types = { git = "https://github.com/apache/teaclave-sgx-sdk.git" }
#sgx_trts = { git = "https://github.com/apache/teaclave-sgx-sdk.git" }
#sgx_tstd = { git = "https://github.com/apache/teaclave-sgx-sdk.git" }
[dependencies]
enclave-ffi-types = { path = "../../ffi-types" }
log = "0.4.17"
hex = "0.4.2"
lazy_static = "1.4"
sha2 = "0.10"
serde = { git = "https://github.com/mesalock-linux/serde-sgx", features = [
  "derive"
] }
serde_json = { git = "https://github.com/mesalock-linux/serde-json-sgx" }
tendermint-proto = { git = "https://github.com/scrtlabs/tendermint-rs", tag = "v0.38.0-secret.7-beta", default-features = false }
tendermint = { git = "https://github.com/scrtlabs/tendermint-rs", tag = "v0.38.0-secret.7-beta", default-features = false, features = ["rust-crypto"] }
enclave_crypto = { path = "../crypto" }
