[Unit]
Description=Enigma node service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/enigmad start --pruning nothing
User=<THE USER IN WHICH YOU RAN enigmad validate-genesis>
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
