name: Benchmarks

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Benchmarks:
    runs-on: ubuntu-latest
    container: ghcr.io/notional-labs/cosmos
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20' # The Go version to download (if necessary) and use.
      - name: run benchmarks
        run: make bench
