name: golangci-lint
on:
  push:
    tags:
      - "*"
    branches:
      - "*"
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - uses: actions/checkout@v4
      - name: make bin-data-sw
        run: |
          go install github.com/jteeuwen/go-bindata/go-bindata@latest
          make bin-data-sw
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53.2
