name: Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+" # Push events to matching v*, i.e. v1.0, v20.15.10
      - "v[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+" # Push events to matching alpha releases
      - "v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+" # Push events to matching beta releases
      - "v[0-9]+.[0-9]+.[0-9]+-patch.[0-9]+" # Push events to matching beta releases

jobs:
  build-deb-testnet:
    strategy:
      fail-fast: false
      matrix:
        db_backend: [rocksdb, goleveldb]
    runs-on: ubuntu-20.04
    env: # Or as an environment variable
      SPID: ${{ secrets.SPID_TESTNET }}
      API_KEY: ${{ secrets.API_KEY_TESTNET }}
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Declare Commit Variables
        id: vars
        shell: bash
        run: |
          echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Cache build artifacts
        uses: actions/cache@v3
        with:
          path: ~/.cache/sccache
          key: ${{ runner.os }}-sccache
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
      - run: |
          echo ${{ secrets.SPID_TESTNET }} > spid.txt; echo ${{ secrets.API_KEY_TESTNET }} > api_key.txt
        name: "Save api keys"
      - name: Build testnet
        run: |
          VERSION=${{ steps.get_version.outputs.VERSION }} DB_BACKEND=${{ matrix.db_backend }} make build-testnet
          cp build/secretnetwork_${{ steps.get_version.outputs.VERSION }}_amd64.deb secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_${{ matrix.db_backend }}_amd64.deb
      - uses: actions/upload-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_${{ matrix.db_backend }}_amd64.deb
          path: secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_${{ matrix.db_backend }}_amd64.deb

  build-deb-mainnet:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        db_backend: [goleveldb, rocksdb]
    env: # Or as an environment variable
      SPID: ${{ secrets.SPID_MAINNET }}
      API_KEY: ${{ secrets.API_KEY_MAINNET }}
      REGISTRY: ghcr.io
      IMAGE_NAME: scrtlabs/secret-network-node
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
      - run: |
          echo ${{ secrets.SPID_MAINNET }} > spid.txt; echo ${{ secrets.API_KEY_MAINNET }} > api_key.txt
        name: "Save api keys"
      - name: Build
        run: |
          VERSION=${{ steps.get_version.outputs.VERSION }} DB_BACKEND=${{ matrix.db_backend }} FEATURES=production FEATURES_U=production, make build-mainnet-upgrade
          cp build/secretnetwork_${{ steps.get_version.outputs.VERSION }}_amd64.deb secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_${{ matrix.db_backend }}_amd64.deb
      - uses: actions/upload-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_${{ matrix.db_backend }}_amd64.deb
          path: secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_${{ matrix.db_backend }}_amd64.deb
      - name: Log in to the Container registry
        if: ${{ matrix.db_backend == 'goleveldb' }}
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push docker image
        if: ${{ matrix.db_backend == 'goleveldb' }}
        run: docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}

  native-build-cli:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version: 1.19 # The Go version to download (if necessary) and use.
      - name: Build CLI
        shell: bash
        run: |
          make build_cli
          cp "secretcli" "secretcli-$RUNNER_OS"
      - uses: actions/upload-artifact@v3
        with:
          name: secretcli-${{runner.os}}
          path: secretcli-${{runner.os}}

  MacOS-ARM64-CLI:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19 # The Go version to download (if necessary) and use.
      - name: Install xgo
        run: |
          go install github.com/crazy-max/xgo@v0.17.0
          xgo || true # check installation
      - name: Build MacOS CLI
        shell: bash
        run: |
          make build_macos_arm64_cli
          cp "secretcli-macos-arm64" "secretcli-MacOS-arm64"
      - uses: actions/upload-artifact@v3
        with:
          name: secretcli-MacOS-arm64
          path: secretcli-MacOS-arm64

  publish-localsecret:
    runs-on: ubuntu-20.04
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: scrtlabs/localsecret
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Log in to the Container registry
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build LocalSecret
        uses: docker/build-push-action@v3
        with:
          file: deployment/dockerfiles/Dockerfile
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.get_version.outputs.VERSION }}
          secrets: |
            API_KEY=00000000000000000000000000000000
            SPID=FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
          build-args: |
            SECRET_NODE_TYPE=BOOTSTRAP
            CHAIN_ID=secretdev-1
            FEATURES=debug-print
            SGX_MODE=SW
          target: build-localsecret
          cache-from: type=gha
          cache-to: type=gha,mode=max

  Release:
    needs:
      [native-build-cli, build-deb-testnet, build-deb-mainnet, MacOS-ARM64-CLI]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
      - uses: actions/download-artifact@v3
        with:
          name: secretcli-Linux
      - uses: actions/download-artifact@v3
        with:
          name: secretcli-macOS
      - uses: actions/download-artifact@v3
        with:
          name: secretcli-Windows
      - uses: actions/download-artifact@v3
        with:
          name: secretcli-MacOS-arm64
      - uses: actions/download-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_goleveldb_amd64.deb
      - uses: actions/download-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_rocksdb_amd64.deb
      - uses: actions/download-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_goleveldb_amd64.deb
      - uses: actions/download-artifact@v3
        with:
          name: secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_rocksdb_amd64.deb
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          files: |
            secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_goleveldb_amd64.deb
            secretnetwork_${{ steps.get_version.outputs.VERSION }}_mainnet_rocksdb_amd64.deb
            secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_goleveldb_amd64.deb
            secretnetwork_${{ steps.get_version.outputs.VERSION }}_testnet_rocksdb_amd64.deb
            secretcli-macOS
            secretcli-Windows
            secretcli-Linux
            secretcli-MacOS-arm64
